<div id="attr_fields">
  <% SpreeI18n::Config.available_locales.each do |locale| %>
    <%= f.globalize_fields_for locale.to_sym do |g| %>
      <% @resource.class.translated_attribute_names.each_with_index do |attribute, i| %>
        <div class="panel panel-default <%= attribute %> <%= locale %>" style="display:<%= i == 0 ? 'auto' : 'none' %>;">
          <div class="panel-heading">
            <%= Spree.t(attribute, locale: locale) %>

            <div class="pull-right text-muted">
              <small><i><%= Spree.t(:'i18n.this_file_language', locale: locale) %></i></small>

              <% if locale.to_s.include?('-') %>
                <img src="https://www.localeapp.com/assets/flags/regions/<%= locale.to_s.split('-').last %>.png">
              <% else %>
                <img src="https://www.localeapp.com/assets/flags/languages/<%= locale %>.png">
              <% end %>
            </div>
          </div>

          <div class="panel-body">
            <% if @resource.class.columns_hash[attribute.to_s].type == :text %>
              <%= g.text_area attribute, class: 'form-control', rows: 4 %>
            <% else %>
              <%= g.text_field attribute, class: 'form-control' %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <p class="no-translations" style="display: none">There are no any translation for given criteria</p>
</div>

<hr/>