<%= render 'settings' %>

<div class="row translations">
  <div class="col-md-4">
    <%= render 'fields' %>
  </div>
  <div class="col-md-8">
    <%= form_for [:admin, @resource] do |f| %>
      <%= render 'form_fields', f: f %>
      <%= render 'spree/admin/shared/edit_resource_links' %>
    <% end %>
  </div>
</div>
