<fieldset>
  <legend><%= Spree.t(:settings) %></legend>
  <div class="row">
    <div class="col-md-12">
      <label for="show-only"><%= Spree.t(:'i18n.show_only') %></label>
      <div class="form-group">
        <label for="show-only-all" class="radio-inline">
          <input type="radio" name="show-only" value="all" id="show-only-all" checked>
          <%= Spree.t(:all) %>
        </label>
        <label for="show-only-incomplete" class="radio-inline">
          <input type="radio" name="show-only" value="incomplete" id="show-only-incomplete">
          <%= Spree.t(:'i18n.only_incomplete') %>
        </label>
        <label for="show-only-complete" class="radio-inline">
          <input type="radio" name="show-only" value="complete" id="show-only-complete">
          <%= Spree.t(:'i18n.only_complete') %>
        </label>
      </div>
      <div class="form-group">
        <label for="locale"><%= Spree.t(:'i18n.select_locale') %></label>
        <%= select_available_locales_fields %>
      </div>
    </div>
  </div>
</fieldset>

<fieldset>
  <legend><%= Spree.t(:'i18n.fields') %></legend>
  <nav class="menu">
    <ul id="attr_list">
      <% @resource.class.translated_attribute_names.each_with_index do |attr, i| %>
        <li class="<%= 'active' if i == 0 %>">
          <a data-attr="<%= attr %>" href="#"><%= Spree.t(attr) %></a>
        </li>
      <% end %>
    </ul>
  </nav>
</fieldset>
