<fieldset class="no-border-bottom">
  <legend><%= Spree.t(:settings) %></legend>

  <div class="alpha six columns field">
    <label for="show-only"><%= Spree.t(:'i18n.show_only') %>: </label>
    <ul>
      <li><input type="radio" name="show-only" value="all" checked> <label><%= Spree.t(:'i18n.all_translations') %></label></li>
      <li><input type="radio" name="show-only" value="incomplete"> <label><%= Spree.t(:'i18n.only_incomplete') %></label></li>
      <li><input type="radio" name="show-only"value="complete"> <label><%= Spree.t(:'i18n.only_complete') %></label></li>
    </ul>
  </div>

  <div class="omega six columns">
    <label for="locale"><%= Spree.t(:'i18n.select_locale') %>: </label>
    <%= select_available_locales_fields %>
  </div>
</fieldset>

<fieldset class="alpha four columns no-border-bottom">
  <legend><%= Spree.t(:'i18n.fields') %></legend>
  <nav class="menu">
    <ul id="attr_list">
      <% @resource.class.translates.each_with_index do |attr, i| %>
        <li class="<%= 'active' if i == 0 %>">
          <a data-attr="<%= attr %>" href="#"><%= Spree.t(attr) %></a>
        </li>
      <% end %>
    </ul>
  </nav>
</fieldset>
