<% content_for :page_title do %>
  <%= Spree.t(:editing_resource, resource: Spree::Store.model_name.human) %>
<% end %>

<div class="row translations">
  <div class="col-md-4">
    <%= render 'fields' %>
  </div>
  <div class="col-md-8">
    <%= form_for [:admin, @resource], url: admin_general_settings_path do |f| %>
      <%= render 'form_fields', f: f %>
      <div class="form-actions" data-hook="buttons">
        <%= button Spree.t('actions.update'), 'refresh', 'submit', {class: 'btn-success'} %>
        <span class="or"><%= Spree.t(:or) %></span>
        <%= button_link_to Spree.t('actions.cancel'), edit_admin_general_settings_path, icon: 'delete' %>
      </div>
    <% end %>
  </div>
</div>
