<% content_for :page_title do %>
  <%= Spree.t(:editing_resource, resource: Spree::Taxon.model_name.human) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:back_to_resource_list, resource: Spree::Taxonomy.model_name.human), spree.admin_taxonomies_path, class: 'btn-primary', icon: 'arrow-left' %>
<% end %>

<div class="row translations">
  <div class="col-md-4">
    <%= render 'settings' %>
  </div>
  <div class="col-md-8">
    <%= form_for [:admin, @resource.taxonomy, @resource], url: admin_taxonomy_taxon_path(@taxon.taxonomy, @taxon.id) do |f| %>
      <%= render 'form_fields', f: f %>
      <div class="form-actions" data-hook="buttons">
        <%= button Spree.t(:update), 'update' %>
        <span class="or"><%= Spree.t(:or) %></span>
        <%= button_link_to Spree.t(:cancel), edit_admin_taxonomy_url(@taxon.taxonomy), icon: 'remove' %>
      </div>
    <% end %>
  </div>
</div>
