<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= t(:taxon_edit) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to t(:back_to_taxonomies_list), spree.admin_taxonomies_path, :icon => 'icon-arrow-left' %>
  </li>
<% end %>

<div class="row">
  <fieldset class="no-border-top">
    <%= render 'settings' %>

    <%= form_for [:admin, @resource.taxonomy, @resource], :url => admin_taxonomy_taxon_path(@taxon.taxonomy, @taxon.id) do |f| %>
      <%= render 'form_fields', f: f %>

      <div class="form-buttons" data-hook="buttons">
        <%= button t(:update), 'icon-refresh' %>
        <%= t(:or) %>
        <%= button_link_to t(:cancel), edit_admin_taxonomy_url(@taxon.taxonomy), :icon => "icon-remove" %>
      </div>
    <% end %>
  </fieldset>
</div>
